

@{
    Layout = null;
}

@if (ViewBag.ClientDetails != null)
{
    <div class="divUserPersonalDetails" style="width:70%; margin:0 auto">
        <div class="row">
            <div class="col-md-4">Client Name</div>
            <div class="col-md-8 ">
                <div class="form-control">@ViewBag.ClientDetails.Rows[0]["BillTo"]</div>
            </div>

            <div class="col-md-4">Contact No</div>
            <div class="col-md-8">
                <div class="form-control">@ViewBag.ClientDetails.Rows[0]["MobileNo"]</div>
            </div>

            <div class="col-md-4">Email ID</div>
            <div class="col-md-8">
                <div class="form-control">@ViewBag.ClientDetails.Rows[0]["EmailID"]</div>
            </div>

            <div class="col-md-4">GSTIN</div>
            <div class="col-md-8">
                <div class="form-control">@ViewBag.ClientDetails.Rows[0]["GSTIN"]</div>

            </div>

            <div class="col-md-4">Billing Address</div>
            <div class="col-md-8">
                <div class="form-control">@ViewBag.ClientDetails.Rows[0]["Address"]</div>
            </div>
        </div>
    </div>
}